{% extends 'base.html' %}


{% block page_title %}
    401 Group 10 | My Posts
{% endblock %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">My Posts</h1>
    <div>
        {% for post in posts %}
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="d-block card-header py-3" role="button"
                   aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">{{ post.author.username }}</h6>
                    <h6 class="m-0 font-weight-bold text-primary">{{ post.published }}</h6>

                </div>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample{{ post.id }}">
                    <div class="card-body">
                        <h5>{{ post.title }}</h5>
                        {{ post.content }}
                    </div>
                    <div class="card-footer">
                        <span>
                            <a href="{% url 'app:edit_post' id=post.id %}" class="btn btn-warning">Edit</a>
                            <a href="/delete/{{ post.id }}" class="btn btn-danger">Delete</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}