<!DOCTYPE html>
<html>
<head>
<title>Authentication Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Authentication Form</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'app:authenticate_redirect' %}" method="post">
	{% csrf_token %}
    <input type="text" placeholder="Enter Username" name="username" required>

    <br/><br/>

    <label for="signup">sign up</label>

    <input type="radio" name="choice" id="signup" value="signup">
    
    <label for="loginChoice">login</label>

    <input type="radio" name="choice" id="login" value="login">

    <button type="submit">submit</button>

</form>
</body>
</html>

