{% extends 'base.html' %}
{% load tz %}


{% block page_title %}
    401 Group | Dashboard
{% endblock %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Welcome {{ user.first_name }} {{ user.last_name }}</h1>
    <div>
        {% for post in posts %}
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="d-block card-header py-3">
                    <div class="inline-group">
                        <img class="img-circle" style="border-radius: 50%; object-fit: cover;" width="50" height="50"
                             src="{{ post.author.image.url }}">

                        <a href="/author/{{ post.author.id }}" class="ml-2 font-weight-bold text-primary">
                            {{ post.author.username }}
                        </a>

                    </div>
                </div>
                <div class="collapse show" id="collapseCardExample{{ post.id }}">
                    <div class="card-body">
                        <h5 class="mb-0 text-gray-800">{{ post.title }}</h5>
                        <p class="small text-gray">{{ post.published|timezone:"America/Edmonton" }}</p>
                        <hr>
                        <p class="m-4">{{ post.content }}</p>
                    </div>
                </div>
                <div class="card-footer">
                        <span>
                            <a href="{% url "app:post_detail" id=post.id %}" class="btn btn-outline-primary">View Comments / Comment</a>
                        </span>
                </div>
            </div>
        {% endfor %}
    </div>
    {#    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>#}
    {##}
    {#    <script>#}
    {##}
    {#        let csrftoken = Cookies.get('csrftoken');#}
    {#        let url = 'http://127.0.0.1:8000/api/posts/';#}
    {#        fetch(url, {#}
    {#            credentials: 'include',#}
    {#            method: 'GET',#}
    {#            mode: 'same-origin',#}
    {#            headers: {#}
    {#                'Accept': 'application/json',#}
    {#                'Content-Type': 'application/json',#}
    {#                'X-CSRFToken': csrftoken#}
    {#            },#}
    {#        }).then((response) => response.json()).then((responseJson) => {#}
    {#            console.log(responseJson)#}
    {#        });#}
    {##}
    {#    </script>#}
{% endblock %}