{% extends 'base.html' %}


{% block page_title %}
    401 Group | Profile
{% endblock %}

{% block content %}

    <div class="card-body" style="background-color: white">
        <img class="m-2" style="object-fit: cover;" width="100" height="100" src="{{ author.image.url }}">
        <h1 class="m-0 h2 text-gray-800">{{ author.user.first_name }} {{ author.user.last_name }}</h1>
        <div class="h5" >
            {{ author.username }}
            {% if author.github_url is not None %}
                <p style="display:inline;">| {{ author.github_url }}</p>
            {% endif %}

        </div>

        <hr>
        {% if author.bio is not None %}
            <p>{{ author.bio }}</p>
        {% endif %}


    </div>
    {#    <a href="/profile/edit" class="btn btn-primary">Edit</a>#}
{% endblock %}