{% extends 'base.html' %}


{% block page_title %}
    401 Group | Profile
{% endblock %}

{% block content %}

    <div>
        <h1 class="h3 mb-4 text-gray-800">Profile</h1>
        <hr>
        {#        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">#}
        <h2>{{ author.user.first_name }} {{ author.user.last_name }}</h2>
        <h5>Username: {{ author.username }}</h5>
        {#        <h5>Email: {{ user.email }}</h5>#}
        <h5>Bio: {{ author.bio }}</h5>
        <h5>Github: {{ author.github_url}}</h5>
    </div>
    {#    <a href="/profile/edit" class="btn btn-primary">Edit</a>#}
{% endblock %}