{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'app:index' %}">
        <div class="sidebar-brand-text mx-3">Team 10 Social Distribution</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Stream
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>My Stream</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:my_posts' %}">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>My Posts</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:mutual_friend_posts' %}">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Mutual Friend Posts</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:foaf_posts' %}">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Friend of Friend Posts</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:public_posts' %}">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Public Posts</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Friends
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:following' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Following</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:followers' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Followers</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:mutual_friends' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Mutual Friends</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>